/* You can add global styles to this file, and also import other style files */


@import url(https://bootswatch.com/4/lux/bootstrap.min.css);
@import "./assets/font-awesome/web-fonts-with-css/css/fontawesome-all.css";

html, body {
  height: 100%;
  background-color: #F1B112;
}

.jumbotron {
  background-color: #F1B112;
  background-size: cover;
  height: 160px;
  margin-bottom: 0;
  position: relative;
}
